*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: rgba(0,0,0,0.2);
}
.banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/food.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url("../assets/img.gif");
    mask-size: cover;
    mask-position: right;
}

.content {
    width: 800px;
    position: absolute;
    top: 250px;
    left: 650px;
}

.title{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    position: absolute;
    font-size: 50px;
    color: green;
    padding: 0 20px;
}
p{
    color: white;
    font-size: 20px;
    padding-left: 6px;
}
#cute-font{
    color: white;
    font-size: 50px;
    padding-left: 6px;
    font-family: "Meow Script", serif;
}
.main-section {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
#signup-btn-body{
    width: 50%;
    font-size: 20px;
}


